.App {
  
}
.Notifications {
  display: flex;
  flex-direction: column;
}
.lowerContainer {
  flex: 1;
  display: flex;
  height: 80%;
}
.App-logo {
  flex: 1;
  width: 100vw;
  height: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    padding: 12x 24x;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.leftInnerContainer {
  margin: auto;
  height: 100%;
}

.navButs {
  display: block;
}

.navButs button {
  color:grey;
  background-color: white;
  font-size: 24px;
  padding: 8px 64px;
  border: 0em;
  display: block;
  text-align: center;
}

.navButs button:hover {
  color: red;
  background-color: lightgrey;
  transition: 0.75s;
}
.App-box1{
  margin:auto;
  vertical-align: top;
  display: inline-block;
  width: 19vw;
  height : 100vh;
  
}
.App-box2{
  display: flex;
  justify-content: center;
  align-items: center;
  
  vertical-align:top;
  display: inline-block;
  width: 60vw;
  height : 100vh;
  
}
.App-box3{
  margin:auto;
  text-align: center;
  vertical-align:top;
  display: inline-block;
  width: 19vw;
  height : 100vh;
  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
